<a href="https://colab.research.google.com/github/doissegundos/Machine_learning_Dell_Lead/blob/main/aula_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Alterando os valores vazios ou invalidos de colunas

In [ ]:
data = pd.read_table('fruit_data_with_colors_miss.txt')

In [ ]:
data = pd.read_table('fruit_data_with_colors_miss.txt',na_values=['.','?'])

In [ ]:
data = data.fillna(data.mean())

In [ ]:
data['fruit_subtype'] = data['fruit_subtype'].fillna("turkey_navel")

In [ ]:
data

Apagando coluna

In [ ]:
data = pd.read_table('fruit_data_with_colors_miss.txt',na_values=['.','?'])

In [ ]:
data.shape

(59, 7)

In [ ]:
data.isnull().sum()

fruit_label      0
fruit_name       0
fruit_subtype    1
mass             1
width            0
height           1
color_score      0
dtype: int64

In [ ]:
data.isnull().sum()/(data.shape[0]) *100

fruit_label      0.000000
fruit_name       0.000000
fruit_subtype    1.694915
mass             1.694915
width            0.000000
height           1.694915
color_score      0.000000
dtype: float64

In [ ]:
data =  data[['color_score','height']]

Transformando a escala dos dados

In [ ]:
data = pd.read_table('fruit_data_with_colors_miss.txt',na_values=['.','?'])
data = data.fillna(data.mean())
data =  data[['mass','width','height','color_score']]

In [ ]:
#(valor - min)/(max - min)
from sklearn.preprocessing import MinMaxScaler

In [ ]:
mm = MinMaxScaler()

In [ ]:
mm.fit(data)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [ ]:
data_scaler = mm.transform(data)

In [ ]:
data_scaler

Encontrando Outliers

In [ ]:
data = pd.read_table('fruit_data_with_colors_miss.txt',na_values=['.','?'])
data = data.fillna(data.mean())

In [ ]:
macas = data[data['fruit_name']=='apple']

In [ ]:
est = macas['mass'].describe()

In [ ]:
macas[(macas['mass']>est['mean']+est['std']*2)] #outliers

   fruit_label fruit_name fruit_subtype   mass  width  height  color_score
0            1      apple  granny_smith  192.0    8.4     7.3         0.55

In [ ]:
macas[(macas['mass']<est['mean']-est['std']*2)] #outliers

    fruit_label fruit_name fruit_subtype   mass  width  height  color_score
22            1      apple   cripps_pink  140.0    7.3     7.1         0.87